@import url('https://fonts.googleapis.com/css?family=News+Cycle&display=swap');

html, body {
    height: 100%;
    width: 100%;
    font-family: 'News Cycle', sans-serif;
    font-size: 1.1em;
}

html {
    overflow: hidden;
}

body {
    overflow: auto;
}

h1 {
    padding: 20px;
}

h3 {
    border-bottom: #000 solid 1px;
    padding: 0 5px 5px;
}

h5 {
    text-align: center;
    padding: 10px 0px;
}

a {
    color: white;
    cursor: pointer;
}

a:active {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    text-decoration: none;
}

p {
    padding: 10px 30px;
}

.social-img {
    background-color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 5px;
}

#about {
    background: url('img/northeastern.jpeg') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
}

#about p>img {
    border-radius: 50%;
    display: block;
    margin: auto;
    width: 200px;
}

.bio h3 {
    color: #fff;
    text-align: center;
}

#about .bio {
    background: rgba(32, 32, 32, 0.8) fixed;
    background-size: cover;
    padding: 30px;
    margin: auto;
    width: 60%;
    min-height: 100%;
}

#about p {
    margin: auto;
    width: 100%;
    text-align: justify;
    color: #fff;
}

#gallery {
    overflow-x: hidden;
}

#gallery img {
    display: block;
    width: 100%;
}


.container-fluid {
    background-color: #FFF;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    padding: 0px;
}


.nav-links {
    z-index: 10;
    left: 75%;
    top: -10px;
    background: rgba(32, 32, 32, 0.9);
    padding: 20px 15px 15px;
    border-radius: 10px;
    position: fixed;
}

.quote {
    font-style: italic;
    font-family: Ubuntu;
    font-size: 1.4em;
    background-color: #eee;
    text-align: center;
    padding: 30px;
}

.art {
    margin-right: 30px;
}

.middle {
    display: flex;
    display: -webkit-flex;
    height: 200px;
    width: 50%;
    margin: auto;
}

.middle p {
    margin: auto; /* Important */
    text-align: justify;
    padding: 15px 40px 15px 15px;
}

.hidden {
    display: none;
}


