@import url('https://fonts.googleapis.com/css?family=News+Cycle&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

html, body {
    height: 100%;
    width: 100%;
    font-family: 'News Cycle', sans-serif;
    font-size: 1.1em;
}

html {
    overflow: hidden;
}

body {
    overflow: auto;
}

h1 {
    padding: 20px;
}

h3 {
    border-bottom: #000 solid 1px;
    padding: 0 5px 5px;
}

h5 {
    text-align: center;
    padding: 10px 0px;
}

a {
    color: white;
    cursor: pointer;
}

a:active {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    text-decoration: none;
}

p {
    padding: 10px 30px;
}

.social-img {
    background-color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 5px;
}

#welcome {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

#welcome h1 img {
    border-radius: 200px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    width: 200px;
    position: absolute;
    top: -50%;
    /* Firefox */
    left: -moz-calc(50% - 100px);
    /* WebKit */
    left: -webkit-calc(50% - 100px);
    /* Standard */
    left: calc(50% - 100px);
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#welcome h1 img:hover {
    width: 210px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);

    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: all .4s ease-in-out;
    top: calc(-50% - 5px);
    top: -moz-calc(-50% - 5px);
    top: -webkit-calc(-50% - 5px);
    /* Firefox */
    left: -moz-calc(50% - 105px);
    /* WebKit */
    left: -webkit-calc(50% - 105px);
    /* Standard */
    left: calc(50% - 105px);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

#welcome h1 {
    position: absolute;
    top: 40%;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Roboto Slab', serif;
}


#welcome span.left {
    display: inline-block;
    float: left;
    margin-left: 20%;
}

#welcome span.right {
    display: inline-block;
    float: right;
    margin-right: 25%;
}



#about {
    background: url('img/northeastern.jpeg') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
}

#about p>img {
    border-radius: 50%;
    display: block;
    margin: auto;
    width: 200px;
}

.bio h3 {
    color: #fff;
    text-align: center;
}

#about .bio {
    background: rgba(32, 32, 32, 0.8) fixed;
    background-size: cover;
    padding: 30px;
    margin: auto;
    width: 60%;
    min-height: 100%;
}

#about p {
    margin: auto;
    width: 100%;
    text-align: justify;
    color: #fff;
}

#gallery {
    overflow-x: hidden;
}

#gallery img {
    display: block;
    width: 100%;
}


.container-fluid {
    background-color: #FFF;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    padding: 0px;
}


.nav-links {
    z-index: 10;
    float: right;
    right: 0;
    top: -10px;
    background: rgba(32, 32, 32, 0.9);
    padding: 20px 15px 15px;
    border-radius: 10px;
    position: fixed;
}

.quote {
    font-style: italic;
    color: black;
    font-size: 1.1em;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    display: block;
    margin: auto;
    text-align: center;
    padding: 10px;
    width: 70%;
}

.wood-bg {
    background: url('img/wood.jpg') fixed;
    background-size: cover;
    padding: 50px;
}

.art {
    margin-right: 30px;
}

.middle {
    display: flex;
    display: -webkit-flex;
    height: 200px;
    width: 50%;
    margin: auto;
}

.middle p {
    margin: auto; /* Important */
    text-align: justify;
    padding: 15px 40px 15px 15px;
}

.hidden {
    display: none;
}

.card {
    width: 30%;
    display: inline-block;
    margin: 20px;
}


/*      MODAL THINGS        */

.preview {
    cursor: pointer;
    transition: 0.3s;
}

.preview:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 10%;
    left: 20%;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

